.tasks-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tasks-index-table {
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.tasks-index-table__td {
  padding: 10px;
}

.tasks-index-add__button {
  display: block;
  padding: 10px;
  color: #fff;
  background-color: orange;
  border-radius: 0.5rem;
  max-width: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-decoration: none;
}

.tasks-form {
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
}

.tasks-form__list {
  max-width: 220px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.tasks-form__input {
  border: 1px solid #000;
}

.tasks-form__button {
  display: block;
  padding: 10px;
  color: #fff;
  background-color: orange;
  border-radius: 0.5rem;
  max-width: 220px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.tasks-back-link {
  display: block;
  text-align: center;
}